<div id="<%= dom_id goal %>">
  <p>
    <strong>Title:</strong>
    <%= goal.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= goal.content %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= goal.order %>
  </p>

</div>
